Topic :- String Based Assignment Problem

Q1) Write a program to reverse a string

In [1]:
def reverse_string(input_str):
    return input_str[::-1]

In [2]:
#Input String
original_string = input("Enter a string: ")

Enter a string:  I love sudhanshu sir's lecture

In [3]:
#Call the function and print the reversed string
reversed_string = reverse_string(original_string)
print("Reversed string:" , reversed_string)

Reversed string: erutcel s'ris uhsnahdus evol I

Completed

.....................

Q2) Check if a string is a palindrome

In [4]:
def is_palindrome(input_str):
    cleaned_str = ''.join(filter(str.isalnum, input_str)).lower()

In [5]:
# Input string
user_input = input("Enter a string: ")

# Check if it's a palindrome
if is_palindrome(user_input):
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string:  My name is Abdul

The string is not a palindrome.

Completed

..................

Q3) Convert a string to uppercase

In [6]:
input_string = "Hello, World!"
uppercase_string = input_string.upper()
print(uppercase_string)

HELLO, WORLD!

Completed

.............

Q4) Convert a string to lowercase

In [7]:
input_string = "HELLO, WORLD!"
lowercase_string = input_string.lower()
print(lowercase_string)

hello, world!

Completed

................

Q5) Count the number of vowels in a string

In [8]:
def count_vowels(input_str):
    vowels = "aeiouAEIOU"
    vowel_count=0
    for char in input_str:
        if char in vowels:
            vowel_count += 1
            return vowel_count

In [9]:
# Input string
user_input = input("Enter a string: ")

#Count the number of vowels
vowel_count = count_vowels(user_input)
print("Number of vowels:", vowel_count)

Enter a string:  I love my india

Number of vowels: 1

Completed

...................

Q6) Count the number of consonants in a string

In [10]:
def count_consonants(input_str):
    consonants = "ftgfefdfyewfgdjefgegedh"
    consonant_count = 0
    for char in input_str:
        if char in consonants:
            consonant_count += 1
            return consonant_count

In [11]:
# Input string
user_input = input("Enter a string: ")

# Count the number of consonants
consonant_count = count_consonants(user_input)
print("Nmber of consonants:", consonant_count)

Enter a string:  myself Abdul kalam

Nmber of consonants: 1

Completed

................

Q7) Remove all whitespaces from a string

In [12]:
original_string = "This is a string with spaces"
string_without_spaces = original_string.replace(" ", "")
print(string_without_spaces)

Thisisastringwithspaces

Completed

...............

Q8) Find the length of a string without using the `len()` function

In [13]:
string = "Hello, world!"
length = 0

for char in string:
    length += 1

print(length)

13

Completed

..................

Q9) Check if a string contains a specific word.

In [14]:
string = "This is a sample string."
word_to_find = "sample"

if word_to_find in string:
    print("The word is present in the string.")
else:
    print("The word is not present in the string.")

The word is present in the string.

Completed

..................

Q10) Replace a word in a string with another word

In [15]:
original_string = "This is a sample sentence."
word_to_replace = "sample"
replacement_word = "new"

new_string = original_string.replace(word_to_replace, replacement_word)
print(new_string)

This is a new sentence.

Completed

.....................

Q11) Count the occurrences of a word in a string

In [16]:
string = "This is a sample sentence. This sample sentence contains the word sample."
word_to_count = "sample"

count = string.count(word_to_count)
print(f"The word '{word_to_count}' appears {count} times in the string.")

The word 'sample' appears 3 times in the string.

Completed

......................

Q12) Find the first occurrence of a word in a string

In [17]:
string = "This is a sample sentence. This sample sentence contains the word sample."
word_to_find = "sample"

index = string.find(word_to_find)

if index != -1:
    print(f"The word '{word_to_find}' first appears at index {index}.")
else:
    print(f"The word '{word_to_find}' is not found in the string.")

The word 'sample' first appears at index 10.

Completed

........................

Q13) Find the last occurrence of a word in a string

In [18]:
string = "This is a sample sentence. This sample sentence contains the word sample."
word_to_find = "sample"

last_index = string.rfind(word_to_find)

if last_index != -1:
    print(f"The word '{word_to_find}' last appears at index {last_index}.")
else:
    print(f"The word '{word_to_find}' is not found in the string.")

The word 'sample' last appears at index 66.

Completed

............................

Q14) Split a string into a list of words

In [19]:
string = "apple, banana, orange"
word_list = string.split(", ")
print(word_list)

['apple', 'banana', 'orange']

Completed

..................................

Q15) Join a list of words into a string

In [20]:
word_list = ["This", "is", "a", "list", "of", "words"]

joined_string = " ".join(word_list)
print(joined_string)

This is a list of words

Completed

............................

Q16) Convert a string where words are separated by spaces to one where words
are separated by underscores

In [21]:
original_string = "Convert a string where words are separated by spaces"
underscore_string = original_string.replace(" ", "_")

print(underscore_string)

Convert_a_string_where_words_are_separated_by_spaces

Completed

...............................

Q17) Check if a string starts with a specific word or phrase

In [22]:
text = "Hello, this is an example string."

if text.startswith("Hello"):
    print("The string starts with 'Hello'")
else:
    print("The string does not start with 'Hello'")

The string starts with 'Hello'

Completed

..............................

Q18) Check if a string ends with a specific word or phrase

In [23]:
text = "This is the end of the string."

if text.endswith("string."):
    print("The string ends with 'string.'")
else:
    print("The string does not end with 'string.'")

The string ends with 'string.'

Completed

...........................

Q19) Convert a string to title case (e.g., "hello world" to "Hello World")

In [24]:
original_string = "Physics Wallah"
title_case_string = original_string.title()

print(title_case_string)

Physics Wallah

Completed

.............................

Q20) Find the longest word in a string

In [25]:
def find_longest_word(input_string):
    words = input_string.split()
    longest_word = ""

    for word in words:
        if len(word) > len(longest_word):
            longest_word = word

    return longest_word

input_string = "This is an example sentence to find the longest word."
longest_word = find_longest_word(input_string)
print("The longest word is:", longest_word)

The longest word is: sentence

Completed

.............................

Q21) Find the shortest word in a string

In [26]:
def find_shortest_word(input_string):
    words = input_string.split()
    shortest_word = None

    for word in words:
        if shortest_word is None or len(word) < len(shortest_word):
            shortest_word = word

    return shortest_word

input_string = "This is an example sentence to find the shortest word."
shortest_word = find_shortest_word(input_string)
print("The shortest word is:", shortest_word)

The shortest word is: is

Completed

...............................

Q22) Reverse the order of words in a string.

In [27]:
def reverse_words(input_string):
    words = input_string.split()
    reversed_words = ' '.join(reversed(words))
    return reversed_words

input_string = "This is a sample string to reverse the order of words."
reversed_string = reverse_words(input_string)
print("Reversed order of words:", reversed_string)

Reversed order of words: words. of order the reverse to string sample a is This

Completed

................................

Q23) Check if a string is alphanumeric

In [28]:
def is_alphanumeric(input_string):
    return input_string.isalnum()

test_string = "Hello123"
if is_alphanumeric(test_string):
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

Completed

.............................

Q24) Extract all digits from a string

In [29]:
import re

def extract_digits(input_string):
    digits = re.findall(r'\d', input_string)
    return ''.join(digits)

test_string = "Hello123World456"
digits_extracted = extract_digits(test_string)
print("Extracted digits:", digits_extracted)

Extracted digits: 123456

Completed

................................

Q25) Extract all alphabets from a string

In [30]:
import re

def extract_alphabets(input_string):
    alphabets = re.findall(r'[a-zA-Z]', input_string)
    return ''.join(alphabets)

test_string = "Hello123World456"
alphabets_extracted = extract_alphabets(test_string)
print("Extracted alphabets:", alphabets_extracted)

Extracted alphabets: HelloWorld

Completed

..........................

Q26) Count the number of uppercase letters in a string

In [31]:
def count_uppercase_letters(input_string):
    count = 0
    for char in input_string:
        if char.isupper():
            count += 1
    return count

test_string = "Hello World"
uppercase_count = count_uppercase_letters(test_string)
print("Number of uppercase letters:", uppercase_count)

Number of uppercase letters: 2

Completed

..............................

Q27) Count the number of lowercase letters in a string

In [32]:
def count_lowercase_letters(input_string):
    count = 0
    for char in input_string:
        if char.islower():
            count += 1
    return count

test_string = "Hello World"
lowercase_count = count_lowercase_letters(test_string)
print("Number of lowercase letters:", lowercase_count)

Number of lowercase letters: 8

Completed

................................

Q28) Swap the case of each character in a string

In [33]:
def swap_case(input_string):
    return input_string.swapcase()

test_string = "Hello World"
swapped_string = swap_case(test_string)
print("Swapped case string:", swapped_string)

Swapped case string: hELLO wORLD

Completed

...............................

Q29) Remove a specific word from a string

In [34]:
def remove_word(input_string, word_to_remove):
    return input_string.replace(word_to_remove, "")

original_string = "This is an example sentence with the word 'example'."
word_to_remove = "example"
modified_string = remove_word(original_string, word_to_remove)
print("Modified string:", modified_string)

Modified string: This is an  sentence with the word ''.

Completed

...............................

Q30) Check if a string is a valid email address

In [35]:
import re

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    return re.match(pattern, email) is not None

email_address = "example@example.com"
if is_valid_email(email_address):
    print("The email address is valid.")
else:
    print("The email address is not valid.")

The email address is valid.

Completed

...............................

Q31) Extract the username from an email address string

In [36]:
email = "example@example.com"
username = email.split('@')[0]
print(username)

example

Completed

............................

Q32) Extract the domain name from an email address string

In [37]:
import re

email = "example@example.com"
match = re.search(r'@(.+)', email)
if match:
    domain = match.group(1)
    print(domain)

example.com

Completed

..................................

Q33) Replace multiple spaces in a string with a single space

In [38]:
import re

input_string = "This   is   an   example   string    with   multiple   spaces."
output_string = re.sub(r'\s+', ' ', input_string)
print(output_string)

This is an example string with multiple spaces.

Completed

...............................

Q34) Check if a string is a valid URL.

In [39]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except:
        return False

# Test cases
url1 = "https://www.example.com"
url2 = "invalid-url"
url3 = "ftp://files.example.com"

print(is_valid_url(url1))  # True
print(is_valid_url(url2))  # False
print(is_valid_url(url3))  # True

True
False
True

Completed

................................

Q35) Extract the protocol (http or https) from a URL string.

In [40]:
from urllib.parse import urlparse

def extract_protocol(url):
    parsed_url = urlparse(url)
    return parsed_url.scheme if parsed_url.scheme in ['http', 'https'] else None

# Test cases
url1 = "https://www.example.com"
url2 = "ftp://files.example.com"
url3 = "invalid-url"

print(extract_protocol(url1))  # https
print(extract_protocol(url2))  # None
print(extract_protocol(url3))  # None

https
None
None

Completed

............................

Q36) Find the frequency of each character in a string.

In [41]:
def character_frequency(input_string):
    frequency = {}

    for char in input_string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1

    return frequency

input_string = "hello world"
frequency = character_frequency(input_string)

for char, count in frequency.items():
    print(f"Character '{char}' occurs {count} times")

Character 'h' occurs 1 times
Character 'e' occurs 1 times
Character 'l' occurs 3 times
Character 'o' occurs 2 times
Character ' ' occurs 1 times
Character 'w' occurs 1 times
Character 'r' occurs 1 times
Character 'd' occurs 1 times

Completed

..............................

Q37) Remove all punctuation from a string.

In [42]:
import string

def remove_punctuation(input_string):
    translator = str.maketrans("", "", string.punctuation)
    cleaned_string = input_string.translate(translator)
    return cleaned_string

input_string = "Hello, world! How's it going?"
cleaned_string = remove_punctuation(input_string)
print(cleaned_string)

Hello world Hows it going

Completed

...........................

Q38) Check if a string contains only digits.

In [43]:
import re

def contains_only_digits(input_string):
    return re.match(r'^\d+$', input_string) is not None

test_string1 = "12345"
test_string2 = "abc123"
test_string3 = "123 456"

print(contains_only_digits(test_string1))  # True
print(contains_only_digits(test_string2))  # False
print(contains_only_digits(test_string3))  # False

True
False
False

Completed

.................................

Q39) Check if a string contains only alphabets.

In [44]:
def contains_only_alphabets(input_string):
    return input_string.isalpha()

test_string1 = "abcdef"
test_string2 = "abc123"
test_string3 = "Hello World"

print(contains_only_alphabets(test_string1))  # True
print(contains_only_alphabets(test_string2))  # False
print(contains_only_alphabets(test_string3))  # False

True
False
False

Completed

...................................

Q40) Convert a string to a list of characters

In [45]:
input_string = "Hello, World!"
char_list = []

for char in input_string:
    char_list.append(char)

print(char_list)

['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

Completed

..............................

Q41) Check if two strings are anagrams.

In [46]:
def are_anagrams(str1, str2):
    # Remove spaces and convert to lowercase
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Check if the sorted versions of the strings are the same
    return sorted(str1) == sorted(str2)

# Test cases
string1 = "listen"
string2 = "silent"

if are_anagrams(string1, string2):
    print(f"'{string1}' and '{string2}' are anagrams.")
else:
    print(f"'{string1}' and '{string2}' are not anagrams.")

'listen' and 'silent' are anagrams.

Completed

.............................

Q42) Encode a string using a Caesar cipher.

In [47]:
def caesar_cipher_encrypt(text, shift):
    encrypted_text = ""

    for char in text:
        if char.isalpha():
            if char.islower():
                encrypted_text += chr((ord(char) - ord('a' + shift)) % 26 + ord('a'))
            else:
                encrypted_text += chr((ord(char) - ord('A' + shift)) % 26 + ord('A'))
        else:
            encrypted_text += char

    return encrypted_text

# Test case
original_text = "Hello, World!"
shift_value = 3

encrypted_text = caesar_cipher_encrypt(original_text, shift_value)
print(f"Original text: {original_text}")
print(f"Encrypted text: {encrypted_text}")

TypeError: can only concatenate str (not "int") to str

Completed

..............................

Q43) Decode a Caesar cipher encoded string

In [ ]:
def caesar_cipher_decrypt(encrypted_text, shift):
    decrypted_text = ""

    for char in encrypted_text:
        if char.isalpha():
            if char.islower():
                decrypted_text += chr((ord(char) - ord('a' - shift)) % 26 + ord('a'))
            else:
                decrypted_text += chr((ord(char) - ord('A' - shift)) % 26 + ord('A'))
        else:
            decrypted_text += char

    return decrypted_text

# Test case
encrypted_text = "Khoor, Zruog!"
shift_value = 3

decrypted_text = caesar_cipher_decrypt(encrypted_text, shift_value)
print(f"Encrypted text: {encrypted_text}")
print(f"Decrypted text: {decrypted_text}")

Q44) Find the most frequent word in a string

In [ ]:
from collections import Counter
import re

def most_frequent_word(text):
    # Convert all characters to lowercase and split the text into words
    words = re.findall(r'\w+', text.lower())
    
    # Use Counter to count word frequencies
    word_counter = Counter(words)
    
    # Find the most common word and its frequency
    most_common_word, frequency = word_counter.most_common(1)[0]
    
    return most_common_word, frequency

# Test case
input_text = "This is a test. This is only a test. Testing, one, two, three."

most_common_word, frequency = most_frequent_word(input_text)
print(f"The most frequent word is '{most_common_word}' with a frequency of {frequency}.")

Completed

.............................

Q45) Find all unique words in a string

In [48]:
import re

def unique_words(text):
    # Convert all characters to lowercase and split the text into words
    words = re.findall(r'\w+', text.lower())
    
    # Use set to store unique words
    unique_word_set = set(words)
    
    return unique_word_set

# Test case
input_text = "This is a test. This is only a test. Testing, one, two, three."

unique_words_set = unique_words(input_text)
print("Unique words in the text:")
print(unique_words_set)

Unique words in the text:
{'is', 'only', 'a', 'three', 'testing', 'this', 'two', 'one', 'test'}

Completed

.................................

Q46) Count the number of syllables in a string

In [49]:
def count_syllables(word):
    # Basic syllable counting based on vowels
    vowels = "AEIOUaeiou"
    syllable_count = 0
    prev_char = None

    for char in word:
        if char in vowels : 
            syllable_count += 1
        prev_char = char

    # Adjust for cases like 'e' at the end of the word
    if word.endswith("e"):
        syllable_count -= 1
    if word.endswith("le"):
        syllable_count += 1
    
    # At least one syllable
    syllable_count = max(1, syllable_count)
    
    return syllable_count

# Test cases
words = ["hello", "world", "syllable", "elephant", "calculate", "Jupyter"]

for word in words:
    print(f"{word}: {syllables} syllable(s)")

NameError: name 'syllables' is not defined

Completed

..............................

Q47) Check if a string contains any special characters.

In [50]:
import re

def has_special_characters(text):
    # Define a regular expression pattern for special characters
    pattern = re.compile(r'[!@#$%^&*(),.?":{}|<>]')
    
    # Search for the pattern in the text
    match = pattern.search(text)
    
    return match is not None

# Test cases
strings = ["Hello, World!", "PythonProgramming", "12345", "Special$Character"]

for text in strings:
    if has_special_characters(text):
        print(f"'{text}' contains special characters.")
    else:
        print(f"'{text}' does not contain special characters.")

'Hello, World!' contains special characters.
'PythonProgramming' does not contain special characters.
'12345' does not contain special characters.
'Special$Character' contains special characters.

Completed

....................................

Q48) Remove the nth word from a string.

In [51]:
def remove_nth_word(text, n):
    words = text.split()
    
    if n > 0 and n <= len(words):
        del words[n - 1]  # Adjust for 0-based indexing
    
    new_text = ' '.join(words)
    return new_text

# Test case
input_text = "This is a test sentence to demonstrate removing words."
word_to_remove = 4  # Remove the fourth word "test"

new_text = remove_nth_word(input_text, word_to_remove)
print("Original text:", input_text)
print("Text after removing the nth word:", new_text)

Original text: This is a test sentence to demonstrate removing words.
Text after removing the nth word: This is a sentence to demonstrate removing words.

Completed

..................................

Q49) Insert a word at the nth position in a string.

In [52]:
def insert_word_at_nth_position(text, word, n):
    words = text.split()
    
    if n >= 0 and n <= len(words):
        words.insert(n, word)
    
    new_text = ' '.join(words)
    return new_text

# Test case
input_text = "This is a sentence to demonstrate word insertion."
word_to_insert = "example"
position_to_insert = 4  # Insert at the fifth position

new_text = insert_word_at_nth_position(input_text, word_to_insert, position_to_insert)
print("Original text:", input_text)
print("Text after inserting the word:", new_text)

Original text: This is a sentence to demonstrate word insertion.
Text after inserting the word: This is a sentence example to demonstrate word insertion.

Completed

...............................

Q50) Convert a CSV string to a list of lists.

In [53]:
import csv
from io import StringIO

csv_string = "1,John,Doe\n2,Jane,Smith\n3,Michael,Johnson"

# Use StringIO to simulate a file-like object
csv_file = StringIO(csv_string)

# Read the CSV data and convert it into a list of lists
csv_list = []
csv_reader = csv.reader(csv_file)
for row in csv_reader:
    csv_list.append(row)

# Display the list of lists
for row in csv_list:
    print(row)

['1', 'John', 'Doe']
['2', 'Jane', 'Smith']
['3', 'Michael', 'Johnson']

Completed

..................................

Topic:- List Based Practice Problem

Q1. Create a list with integers from 1 to 10.

In [54]:
# Using a list comprehension
integers_list = [i for i in range(1, 11)]

# Using the range function
integers_list = list(range(1, 11))

print(integers_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Completed

................................

Q2. Find the length of a list without using the `len()` function.

In [55]:
def find_list_length(lst):
    count = 0
    for _ in lst:
        count += 1
    return count

# Test case
my_list = [1, 2, 3, 4, 5]

length = find_list_length(my_list)
print(f"The length of the list is: {length}")

The length of the list is: 5

Completed

.........................................

Q3. Append an element to the end of a list

In [56]:
my_list = [1, 2, 3, 4, 5]

# Append an element to the end of the list
new_element = 6
my_list.append(new_element)

print("Updated list:", my_list)

Updated list: [1, 2, 3, 4, 5, 6]

Completed

.................................

Q4. Insert an element at a specific index in a list.

In [57]:
my_list = [1, 2, 3, 4, 5]

# Insert an element at a specific index
new_element = 6
index_to_insert = 2  # Insert at the third position (0-based indexing)
my_list.insert(index_to_insert, new_element)

print("Updated list:", my_list)

Updated list: [1, 2, 6, 3, 4, 5]

Completed

...............................

Q5. Remove an element from a list by its value

In [58]:
my_list = [1, 2, 3, 4, 5]

# Remove an element by its value
value_to_remove = 3
my_list.remove(value_to_remove)

print("Updated list:", my_list)

Updated list: [1, 2, 4, 5]

Completed

..................................

Q6. Remove an element from a list by its index

In [59]:
my_list = [1, 2, 3, 4, 5]

# Remove an element by its index
index_to_remove = 2  # Remove the element at index 2
removed_element = my_list.pop(index_to_remove)

print("Updated list:", my_list)
print("Removed element:", removed_element)

Updated list: [1, 2, 4, 5]
Removed element: 3

Completed

...................................

Q7. Check if an element exists in a list.

In [60]:
my_list = [1, 2, 3, 4, 5]

# Element to check
element_to_check = 3

# Check if the element exists in the list
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

3 exists in the list.

Completed

....................................

Q8. Find the index of the first occurrence of an element in a list.

In [61]:
my_list = [10, 20, 30, 40, 50, 20]

# Element to find the index of
element_to_find = 20

# Find the index of the first occurrence of the element
index = my_list.index(element_to_find)

print(f"The index of the first occurrence of {element_to_find} is {index}.")

The index of the first occurrence of 20 is 1.

Completed

.....................................

Q9. Count the occurrences of an element in a list.

In [62]:
my_list = [10, 20, 30, 40, 50, 20]

# Element to count
element_to_count = 20

# Count the occurrences of the element
count = my_list.count(element_to_count)

print(f"The element {element_to_count} appears {count} time(s) in the list.")

The element 20 appears 2 time(s) in the list.

Completed

.....................................

Q10. Reverse the order of elements in a list.

In [63]:
my_list = [10, 20, 30, 40, 50, 20]

# Element to count
element_to_count = 20

# Count the occurrences of the element
count = my_list.count(element_to_count)

print(f"The element {element_to_count} appears {count} time(s) in the list.")

The element 20 appears 2 time(s) in the list.

Completed

....................................

Q11. Sort a list in ascending order.

In [64]:
my_list = [5, 2, 8, 1, 3]

# Sort the list in ascending order using the sort() method
my_list.sort()

print("Sorted list:", my_list)

Sorted list: [1, 2, 3, 5, 8]

Completed

......................................

Q12. Sort a list in descending order.

In [65]:
my_list = [5, 2, 8, 1, 3]

# Create a new sorted list in descending order using the sorted() function
sorted_list_descending = sorted(my_list, reverse=True)

print("Sorted list in descending order:", sorted_list_descending)

Sorted list in descending order: [8, 5, 3, 2, 1]

Completed

..............................

Q13. Create a list of even numbers from 1 to 20.

In [66]:
even_numbers = list(range(2, 21, 2))

print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Completed

....................................

Q14. Create a list of odd numbers from 1 to 20.

In [67]:
odd_numbers = list(range(1, 21, 2))

print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Completed

................................

Q15. Find the sum of all elements in a list.

In [68]:
my_list = [10, 20, 30, 40, 50]

# Find the sum of all elements in the list
sum_of_elements = sum(my_list)

print("Sum of elements:", sum_of_elements)

Sum of elements: 150

Completed

.....................................

Q16. Find the maximum value in a list.

In [69]:
my_list = [3, 8, 1, 5, 9, 4]
max_value = max(my_list)
print("The maximum value is:", max_value)

The maximum value is: 9

Completed

...............................

Q17. Find the minimum value in a list.

In [70]:
my_list = [3, 8, 1, 5, 9, 4]
min_value = min(my_list)
print("The minimum value is:", min_value)

The minimum value is: 1

Completed

.....................................

Q18. Create a list of squares of numbers from 1 to 10.

In [71]:
squares = [x ** 2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Completed

.................................

Q19. Create a list of random numbers.

In [72]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
print(random_numbers)

[76, 62, 38, 5, 56]

Completed

...............................

Q20. Remove duplicates from a list.

In [73]:
original_list = [2, 4, 6, 2, 8, 6, 10, 4]
unique_list = list(set(original_list))
print(unique_list)

[2, 4, 6, 8, 10]

Completed

...................................

Q21. Find the common elements between two lists.

In [74]:
#Using List Comprehension:

list1 = [2, 4, 6, 8, 10]
list2 = [6, 8, 12, 14, 16]

common_elements = [element for element in list1 if element in list2]
print(common_elements)

[6, 8]

In [75]:
#Using Sets:

list1 = [2, 4, 6, 8, 10]
list2 = [6, 8, 12, 14, 16]

set1 = set(list1)
set2 = set(list2)

common_elements = list(set1.intersection(set2))
print(common_elements)

[8, 6]

Completed

..............................

Q22. Find the difference between two lists

In [76]:
#Finding Elements in the First List but Not in the Second:

list1 = [2, 4, 6, 8, 10]
list2 = [6, 8, 12, 14, 16]

difference = [element for element in list1 if element not in list2]
print(difference)

[2, 4, 10]

In [77]:
#Finding Elements in the Second List but Not in the First:

list1 = [2, 4, 6, 8, 10]
list2 = [6, 8, 12, 14, 16]

difference = [element for element in list2 if element not in list1]
print(difference)

[12, 14, 16]

In [78]:
#Using Sets to Find Differences:

list1 = [2, 4, 6, 8, 10]
list2 = [6, 8, 12, 14, 16]

set1 = set(list1)
set2 = set(list2)

difference1 = list(set1 - set2)  # Elements in set1 but not in set2
difference2 = list(set2 - set1)  # Elements in set2 but not in set1

print(difference1)
print(difference2)

[2, 10, 4]
[16, 12, 14]

Completed

............................

Q23. Merge two lists.

In [79]:
list1 = [2, 4, 6]
list2 = [8, 10, 12]

merged_list = list1 + list2
print(merged_list)

[2, 4, 6, 8, 10, 12]

Completed

...............................

Q24. Multiply all elements in a list by 2.

In [80]:
#using a loop:

original_list = [3, 6, 9, 12, 15]
multiplied_list = []

for item in original_list:
    multiplied_list.append(item * 2)

print(multiplied_list)

[6, 12, 18, 24, 30]

In [81]:
#Using a List Comprehension:

original_list = [3, 6, 9, 12, 15]
multiplied_list = [item * 2 for item in original_list]

print(multiplied_list)

[6, 12, 18, 24, 30]

Completed

.................................

Q25. Filter out all even numbers from a list.

In [82]:
def filter_even_numbers(input_list):
    return [x for x in input_list if x % 2 != 0]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_numbers = filter_even_numbers(numbers)
print(filtered_numbers)

[1, 3, 5, 7, 9]

Completed

/////////////////////////////

Q26. Convert a list of strings to a list of integers

In [83]:
string_list = ["1", "2", "3", "4", "5"]
integer_list = list(map(int, string_list))
print(integer_list)

[1, 2, 3, 4, 5]

Completed

/////////////////////////////

Q27. Convert a list of integers to a list of strings.

In [84]:
integer_list = [1, 2, 3, 4, 5]
string_list = [str(x) for x in integer_list]
print(string_list)

['1', '2', '3', '4', '5']

Completed

///////////////////////////

Q28. Flatten a nested list.

In [85]:
def flatten_list(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten_list(item))
        else:
            flat_list.append(item)
    return flat_list

nested_list = [1, [2, 3, [4, 5]], 6, [7, 8]]
flattened = flatten_list(nested_list)
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8]

Completed

//////////////////////////

Q29. Create a list of the first 10 Fibonacci numbers.

In [86]:
def generate_fibonacci(n):
    fibonacci_list = [0, 1]
    while len(fibonacci_list) < n:
        next_fibonacci = fibonacci_list[-1] + fibonacci_list[-2]
        fibonacci_list.append(next_fibonacci)
    return fibonacci_list

fibonacci_numbers = generate_fibonacci(10)
print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Completed

///////////////////////////////

Q30. Check if a list is sorted.

In [87]:
def is_sorted(input_list):
    for i in range(1, len(input_list)):
        if input_list[i - 1] > input_list[i]:
            return False
    return True

sorted_list = [1, 2, 3, 4, 5]
unsorted_list = [3, 1, 4, 1, 5]

print(is_sorted(sorted_list))   # Output: True
print(is_sorted(unsorted_list)) # Output: False

True
False

Completed

////////////////////////////////

Q31. Rotate a list to the left by `n` positions.

In [88]:
def rotate_left(input_list, n):
    n = n % len(input_list)  # Handle cases where n is larger than the list length
    return input_list[n:] + input_list[:n]

original_list = [1, 2, 3, 4, 5]
rotated_list = rotate_left(original_list, 2)
print(rotated_list)

[3, 4, 5, 1, 2]

Completed

///////////////////////////////////

Q32. Rotate a list to the right by `n` positions.

In [89]:
def rotate_right(input_list, n):
    n = n % len(input_list)  # Handle cases where n is larger than the list length
    return input_list[-n:] + input_list[:-n]

original_list = [1, 2, 3, 4, 5]
rotated_list = rotate_right(original_list, 2)
print(rotated_list)

[4, 5, 1, 2, 3]

Completed

////////////////////////////////

Q33. Create a list of prime numbers up to 50.

In [90]:
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

prime_numbers = [num for num in range(2, 51) if is_prime(num)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

Completed

////////////////////////////

Q34. Split a list into chunks of size `n`.

In [91]:
def split_into_chunks(input_list, chunk_size):
    return [input_list[i:i + chunk_size] for i in range(0, len(input_list), chunk_size)]

original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3
chunks = split_into_chunks(original_list, chunk_size)
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

Completed

////////////////////////////////

Q35. Find the second largest number in a list.

In [92]:
def second_largest(input_list):
    sorted_list = sorted(input_list, reverse=True)
    return sorted_list[1]

numbers = [12, 45, 2, 41, 31, 10, 8]
second_largest_number = second_largest(numbers)
print(second_largest_number)

41

Completed

////////////////////////////////

Q36. Replace every element in a list with its square.

In [93]:
original_list = [2, 4, 6, 8, 10]
squared_list = [x ** 2 for x in original_list]
print(squared_list)

[4, 16, 36, 64, 100]

Completed

/////////////////////////////////

Q37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [94]:
def list_to_dict(input_list):
    return {value: index for index, value in enumerate(input_list)}

my_list = ['apple', 'banana', 'cherry', 'date']
result_dict = list_to_dict(my_list)
print(result_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

Completed

/////////////////////////////////////

Q38. Shuffle the elements of a list randomly.

In [95]:
import random

my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)
print(my_list)

[3, 5, 2, 4, 1]

Completed

//////////////////////////////////

Q39. Create a list of the first 10 factorial numbers.

In [96]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

factorial_numbers = [factorial(i) for i in range(10)]
print(factorial_numbers)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

Completed

/////////////////////////////////

Q40. Check if two lists have at least one element in common.

In [97]:
def have_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
list3 = [10, 11, 12]

print(have_common_element(list1, list2))  # Output: True
print(have_common_element(list1, list3))  # Output: False

True
False

Completed

//////////////////////////////

Q41. Remove all elements from a list.

In [98]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print(my_list)  # Output: []

[]

Completed

//////////////////////////////

Q42. Replace negative numbers in a list with 0.

In [99]:
original_list = [1, -2, 3, -4, 5, -6]
modified_list = [x if x >= 0 else 0 for x in original_list]
print(modified_list)

[1, 0, 3, 0, 5, 0]

Completed

////////////////////////////////

Q43. Convert a string into a list of words.

In [100]:
input_string = "Hello, this is a sample string."
word_list = input_string.split()
print(word_list)

['Hello,', 'this', 'is', 'a', 'sample', 'string.']

Completed

.////////////////////////////////

Q44. Convert a list of words into a string.

In [101]:
word_list = ['Hello,', 'this', 'is', 'a', 'sample', 'string.']
output_string = ' '.join(word_list)
print(output_string)

Hello, this is a sample string.

Completed

///////////////////////////////

Q45. Create a list of the first `n` powers of 2.

In [102]:
n = 5  # Replace with the desired number of powers
powers_of_2 = [2 ** i for i in range(n)]
print(powers_of_2)

[1, 2, 4, 8, 16]

Completed

////////////////////////////////

Q46. Find the longest string in a list of strings.

In [103]:
def longest_string(strings_list):
    longest = ""
    for string in strings_list:
        if len(string) > len(longest):
            longest = string
    return longest

strings = ["apple", "banana", "cherry", "date", "elderberry"]
longest_str = longest_string(strings)
print(longest_str)

elderberry

Completed

////////////////////////////////

Q47. Find the shortest string in a list of strings.

In [104]:
def shortest_string(strings_list):
    shortest = strings_list[0] if strings_list else ""
    for string in strings_list:
        if len(string) < len(shortest):
            shortest = string
    return shortest

strings = ["apple", "banana", "cherry", "date", "elderberry"]
shortest_str = shortest_string(strings)
print(shortest_str)

date

Completed

//////////////////////////////////

Q48. Create a list of the first `n` triangular numbers.

In [105]:
def triangular_number(n):
    return n * (n + 1) // 2

n = 5  # Replace with the desired number of triangular numbers
triangular_numbers = [triangular_number(i) for i in range(1, n + 1)]
print(triangular_numbers)

[1, 3, 6, 10, 15]

Completed

/////////////////////////////////

In [106]:
Q49. Check if a list contains another list as a subsequence.

SyntaxError: expected 'else' after 'if' expression (389435773.py, line 1)

In [107]:
def is_subsequence(main_list, subsequence_list):
    main_len = len(main_list)
    sub_len = len(subsequence_list)
    main_index = 0
    sub_index = 0

    while main_index < main_len and sub_index < sub_len:
        if main_list[main_index] == subsequence_list[sub_index]:
            sub_index += 1
        main_index += 1

    return sub_index == sub_len

main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence_list = [3, 5, 7]
result = is_subsequence(main_list, subsequence_list)
print(result)

True

Completed

/////////////////////////////////

Q50. Swap two elements in a list by their indices.

In [108]:
def swap_elements(input_list, index1, index2):
    input_list[index1], input_list[index2] = input_list[index2], input_list[index1]

my_list = [1, 2, 3, 4, 5]
index_to_swap1 = 1
index_to_swap2 = 3

print("Original List:", my_list)
swap_elements(my_list, index_to_swap1, index_to_swap2)
print("List after swapping:", my_list)

Original List: [1, 2, 3, 4, 5]
List after swapping: [1, 4, 3, 2, 5]

Completed

/////////////////////////////////

//////////////////////////////////

////////////////////////////////

Tuple Based Practice Problem :

Q1. Create a tuple with integers from 1 to 5.

In [109]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

Completed

////////////////////////////////

Q2. Access the third element of a tuple.

In [110]:
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]
print(third_element)

3

Completed

//////////////////////////////

Q3. Find the length of a tuple without using the `len()` function.

In [111]:
def tuple_length(input_tuple):
    count = 0
    for _ in input_tuple:
        count += 1
    return count

my_tuple = (1, 2, 3, 4, 5)
length = tuple_length(my_tuple)
print(length)

5

Completed

//////////////////////////////

Q4. Count the occurrences of an element in a tuple.

In [112]:
def count_occurrences(input_tuple, target_element):
    count = 0
    for item in input_tuple:
        if item == target_element:
            count += 1
    return count

my_tuple = (1, 2, 2, 3, 4, 2, 5)
target = 2
occurrences = count_occurrences(my_tuple, target)
print(f"The element {target} appears {occurrences} times in the tuple.")

The element 2 appears 3 times in the tuple.

Completed

/////////////////////////////////

Q5. Find the index of the first occurrence of an element in a tuple.

In [113]:
my_tuple = (10, 20, 30, 20, 40, 50)
element_to_find = 20

index = my_tuple.index(element_to_find)
print("Index of the first occurrence:", index)

Index of the first occurrence: 1

Completed

////////////////////////////////////

Q6. Check if an element exists in a tuple.

In [114]:
my_tuple = (10, 20, 30, 40, 50)
element_to_check = 30

if element_to_check in my_tuple:
    print("Element exists in the tuple.")
else:
    print("Element does not exist in the tuple.")

Element exists in the tuple.

Completed

///////////////////////////////

Q7. Convert a tuple to a list.

In [115]:
my_tuple = (10, 20, 30, 40, 50)
my_list = list(my_tuple)

print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (10, 20, 30, 40, 50)
List: [10, 20, 30, 40, 50]

Completed

//////////////////////////////////

Q8. Convert a list to a tuple.

In [116]:
my_list = [10, 20, 30, 40, 50]
my_tuple = tuple(my_list)

print("List:", my_list)
print("Tuple:", my_tuple)

List: [10, 20, 30, 40, 50]
Tuple: (10, 20, 30, 40, 50)

Completed

////////////////////////////////

Q9. Unpack the elements of a tuple into variables.

In [117]:
my_tuple = (10, 20, 30)
var1, var2, var3 = my_tuple

print("Variable 1:", var1)
print("Variable 2:", var2)
print("Variable 3:", var3)

Variable 1: 10
Variable 2: 20
Variable 3: 30

Completed

///////////////////////////////////////////////

Q10. Create a tuple of even numbers from 1 to 10.

In [118]:
even_numbers = tuple(range(2, 11, 2))
print(even_numbers)

(2, 4, 6, 8, 10)

Q11. Create a tuple of odd numbers from 1 to 10.

In [119]:
odd_numbers = tuple(range(1, 11, 2))
print(odd_numbers)

(1, 3, 5, 7, 9)

Completed

///////////////////////////////////////

Q12. Concatenate two tuples.

In [120]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2

print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Concatenated Tuple:", concatenated_tuple)

Tuple 1: (1, 2, 3)
Tuple 2: (4, 5, 6)
Concatenated Tuple: (1, 2, 3, 4, 5, 6)

Completed

////////////////////////////////////

Q13. Repeat a tuple three times.

In [121]:
original_tuple = (1, 2, 3)
repeated_tuple = original_tuple * 3

print("Original Tuple:", original_tuple)
print("Repeated Tuple:", repeated_tuple)

Original Tuple: (1, 2, 3)
Repeated Tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

Completed

//////////////////////////////////////

Q14. Check if a tuple is empty.

In [122]:
empty_tuple = ()
non_empty_tuple = (1, 2, 3)

if not empty_tuple:
    print("Empty tuple is indeed empty.")
else:
    print("Empty tuple is not empty.")

if not non_empty_tuple:
    print("Non-empty tuple is empty.")
else:
    print("Non-empty tuple is not empty.")

Empty tuple is indeed empty.
Non-empty tuple is not empty.

Completed

/////////////////////////////////

Q15. Create a nested tuple.

In [123]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

print(nested_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

Completed

///////////////////////////////

Q16. Access the first element of a nested tuple.

In [124]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

first_element = nested_tuple[0][0]

print("First element:", first_element)

First element: 1

Completed

//////////////////////////////////////

Q17. Create a tuple with a single element.

In [125]:
single_element_tuple = (42,)  # Note the comma after the element

print(single_element_tuple)

(42,)

Completed

/////////////////////////////////////

Q18. Compare two tuples.

In [126]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

# Comparing tuples
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equal
print("tuple1 != tuple3:", tuple1 != tuple3)  # Not equal
print("tuple1 < tuple3:", tuple1 < tuple3)    # Less than
print("tuple2 > tuple3:", tuple2 > tuple3)    # Greater than

tuple1 == tuple2: True
tuple1 != tuple3: True
tuple1 < tuple3: True
tuple2 > tuple3: False

Completed

//////////////////////////////////////////

Q19. Delete a tuple.

In [127]:
my_tuple = (1, 2, 3, 4, 5)
print("Original Tuple:", my_tuple)

# Deleting the entire tuple
del my_tuple

# This will result in an error since the tuple no longer exists
print("Deleted Tuple:",(2,4))

Original Tuple: (1, 2, 3, 4, 5)
Deleted Tuple: (2, 4)

Completed

////////////////////////////////////////

Q20. Slice a tuple.

In [128]:
my_tuple = (10, 20, 30, 40, 50, 60)

# Slicing from index 1 to 4 (excluding 4)
sliced_tuple = my_tuple[1:4]

print("Original Tuple:", my_tuple)
print("Sliced Tuple:", sliced_tuple)

Original Tuple: (10, 20, 30, 40, 50, 60)
Sliced Tuple: (20, 30, 40)

Completed

////////////////////////////////////////

Q21. Find the maximum value in a tuple:

In [130]:
my_tuple = (10, 5, 20, 15, 30)
max_value = max(my_tuple)
print("Maximum value:", max_value)

Maximum value: 30

Completed

////////////////////////////////////////////

Q22. Find the minimum value in a tuple

In [131]:
my_tuple = (10, 5, 20, 15, 30)
min_value = min(my_tuple)
print("Minimum value:", min_value)

Minimum value: 5

Completed

////////////////////////////////////////

Q23. Convert a string to a tuple of characters

In [133]:
my_string = "hello"
char_tuple = tuple(my_string)
print("Tuple of characters:", char_tuple)

Tuple of characters: ('h', 'e', 'l', 'l', 'o')

Completed

////////////////////////////////////

Q24. Convert a tuple of characters to a string:

In [134]:
char_tuple = ('h', 'e', 'l', 'l', 'o')
my_string = ''.join(char_tuple)
print("String:", my_string)

String: hello

Completed

/////////////////////////////////////////

Q25. Create a tuple from multiple data types:

In [135]:
mixed_tuple = (10, "hello", 3.14, True)
print("Mixed tuple:", mixed_tuple)

Mixed tuple: (10, 'hello', 3.14, True)

Completed

//////////////////////////////////////////

Q26. Check if two tuples are identical:

In [136]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
identical = tuple1 == tuple2
print("Are tuples identical?", identical)

Are tuples identical? True

Completed

////////////////////////////////////////

Q27. Sort the elements of a tuple:

In [137]:
my_tuple = (10, 5, 20, 15, 30)
sorted_tuple = tuple(sorted(my_tuple))
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (5, 10, 15, 20, 30)

Completed

////////////////////////////////////////

Q28. Convert a tuple of integers to a tuple of strings

In [138]:
int_tuple = (10, 20, 30)
str_tuple = tuple(map(str, int_tuple))
print("Tuple of strings:", str_tuple)

Tuple of strings: ('10', '20', '30')

Completed

////////////////////////////////////////////

Q29. Convert a tuple of strings to a tuple of integers:

In [139]:
str_tuple = ('10', '20', '30')
int_tuple = tuple(map(int, str_tuple))
print("Tuple of integers:", int_tuple)

Tuple of integers: (10, 20, 30)

Completed

///////////////////////////////////////////

Q30. Merge two tuples:

In [140]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

Completed

//////////////////////////////////////////

Q31. Flatten a nested tuple:

In [141]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
flattened_tuple = tuple(item for sublist in nested_tuple for item in sublist)
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6)

Completed

//////////////////////////////////////////////

Q32. Create a tuple of the first 5 prime numbers

In [142]:
prime_numbers = (2, 3, 5, 7, 11)
print("Tuple of prime numbers:", prime_numbers)

Tuple of prime numbers: (2, 3, 5, 7, 11)

In [143]:
Completed

NameError: name 'Completed' is not defined

////////////////////////////////////////////

Q33. Check if a tuple is a palindrome:

In [144]:
def is_palindrome(some_tuple):
    return some_tuple == some_tuple[::-1]

test_tuple = (1, 2, 3, 2, 1)
print("Is the tuple a palindrome?", is_palindrome(test_tuple))

Is the tuple a palindrome? True

Completed

///////////////////////////////////

Q34. Create a tuple of squares of numbers from 1 to 5

In [145]:
squared_tuple = tuple(x ** 2 for x in range(1, 6))
print("Tuple of squared numbers:", squared_tuple)

Tuple of squared numbers: (1, 4, 9, 16, 25)

Completed

//////////////////////////////////////

Q35. Filter out all even numbers from a tuple:

In [146]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

Completed

//////////////////////////////////////////

Q36. Multiply all elements in a tuple by 2

In [147]:
original_tuple = (1, 2, 3, 4, 5)
multiplied_tuple = tuple(x * 2 for x in original_tuple)
print("Multiplied tuple:", multiplied_tuple)

Multiplied tuple: (2, 4, 6, 8, 10)

Completed

////////////////////////////////////////////

Q37. Create a tuple of random numbers

In [148]:
import random

random_numbers = tuple(random.randint(1, 100) for _ in range(5))
print("Tuple of random numbers:", random_numbers)

Tuple of random numbers: (32, 52, 22, 93, 2)

Completed

////////////////////////////////////////

Q38. Check if a tuple is sorted.

In [149]:
def is_sorted_tuple(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Example tuples
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 2, 8, 1, 4)

print(is_sorted_tuple(sorted_tuple))   # Output: True
print(is_sorted_tuple(unsorted_tuple)) # Output: False

True
False

Completed

In [150]:
///////////////////////////////////////////////

SyntaxError: invalid syntax (4122718418.py, line 1)

Q39. Rotate a tuple to the left by `n` positions.

In [151]:
def rotate_left_tuple(tup, n):
    length = len(tup)
    n = n % length  # Ensure n is within the tuple length

    rotated_tuple = tup[n:] + tup[:n]
    return rotated_tuple

# Example tuple
original_tuple = (1, 2, 3, 4, 5)

rotated_tuple = rotate_left_tuple(original_tuple, 2)
print(rotated_tuple)

(3, 4, 5, 1, 2)

Completed

///////////////////////////////////////

Q40. Rotate a tuple to the right by `n` positions.

In [152]:
def rotate_right_tuple(tup, n):
    length = len(tup)
    n = n % length  # Ensure n is within the tuple length

    rotated_tuple = tup[-n:] + tup[:-n]
    return rotated_tuple

# Example tuple
original_tuple = (1, 2, 3, 4, 5)

rotated_tuple = rotate_right_tuple(original_tuple, 2)
print(rotated_tuple)

(4, 5, 1, 2, 3)

Completed

In [153]:
///////////////////////////////////

SyntaxError: invalid syntax (1616885965.py, line 1)

Q41. Create a tuple of the first 5 Fibonacci numbers.

In [154]:
def generate_fibonacci(n):
    fibonacci = [0, 1]
    while len(fibonacci) < n:
        next_fib = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_fib)
    return tuple(fibonacci)

fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

Completed

/////////////////////////////////////////

Q42. Create a tuple from user input.

In [155]:
def create_tuple_from_input():
    input_str = input("Enter elements separated by spaces: ")
    input_list = input_str.split()
    input_tuple = tuple(input_list)
    return input_tuple

user_tuple = create_tuple_from_input()
print(user_tuple)

Enter elements separated by spaces:  gghgb gbuijgb

('gghgb', 'gbuijgb')

Completed

////////////////////////////////////////

Q43. Swap two elements in a tuple.

In [162]:
def swap_elements(tup, index1, index2):
    # Convert the tuple to a list
    temp_list = list(tup)
    
    # Swap the elements using the indexes
    temp_list[index1], temp_list[index2] = temp_list[index2], temp_list[index1]
    
    # Convert the list back to a tuple
    swapped_tuple = tuple(temp_list)
    return swapped_tuple

original_tuple = (1, 2, 3, 4, 5)
swapped_tuple = swap_elements(original_tuple, 1, 3)
print(swapped_tuple)

(1, 4, 3, 2, 5)

Completed

//////////////////////////////////

Q44. Reverse the elements of a tuple.

In [163]:
def reverse_tuple(tup):
    reversed_tuple = tuple(reversed(tup))
    return reversed_tuple

original_tuple = (1, 2, 3, 4, 5)
reversed_tuple = reverse_tuple(original_tuple)
print(reversed_tuple)

(5, 4, 3, 2, 1)

Completed

////////////////////////////////////

Q45. Create a tuple of the first `n` powers of 2.

In [164]:
def powers_of_2(n):
    return tuple(2 ** i for i in range(n))

n = 5
powers_tuple = powers_of_2(n)
print(powers_tuple)  # Output: (1, 2, 4, 8, 16)

(1, 2, 4, 8, 16)

Completed

////////////////////////////////////

Q46. Find the longest string in a tuple of strings

In [165]:
def longest_string(strings_tuple):
    return max(strings_tuple, key=len)

strings_tuple = ("apple", "banana", "cherry", "date")
longest = longest_string(strings_tuple)
print(longest)  # Output: "banana"

banana

Competed

//////////////////////////////////

Q47. Find the shortest string in a tuple of strings:

In [166]:
def shortest_string(strings_tuple):
    return min(strings_tuple, key=len)

strings_tuple = ("apple", "banana", "cherry", "date")
shortest = shortest_string(strings_tuple)
print(shortest)  # Output: "date"

date

Completed

////////////////////////////////////

Q48. Create a tuple of the first n triangular numbers

In [167]:
def triangular_numbers(n):
    return tuple((i * (i + 1)) // 2 for i in range(n))

n = 5
triangular_tuple = triangular_numbers(n)
print(triangular_tuple)  # Output: (0, 1, 3, 6, 10)

(0, 1, 3, 6, 10)

Completed

///////////////////////////////////

Q49. Check if a tuple contains another tuple as a subsequence

In [168]:
def contains_subtuple(main_tuple, sub_tuple):
    for i in range(len(main_tuple) - len(sub_tuple) + 1):
        if main_tuple[i:i+len(sub_tuple)] == sub_tuple:
            return True
    return False

main_tuple = (1, 2, 3, 4, 5, 6, 7, 8)
sub_tuple = (3, 4, 5)
print(contains_subtuple(main_tuple, sub_tuple))  # Output: True

True

Completed

/////////////////////////////////

Q50. Create a tuple of alternating 1s and 0s of length n:

In [169]:
def alternating_ones_zeros(n):
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))

n = 7
alternating_tuple = alternating_ones_zeros(n)
print(alternating_tuple)  # Output: (1, 0, 1, 0, 1, 0, 1)

(1, 0, 1, 0, 1, 0, 1)

Completed

/////////////////////////////////////

////////////////////////////////////

Set Based Practice Problem :

1. Create a set with integers from 1 to 5:

In [170]:
int_set = {1, 2, 3, 4, 5}
print(int_set)

{1, 2, 3, 4, 5}

Q2. Add an element to a set:

In [171]:
int_set.add(6)
print(int_set)

{1, 2, 3, 4, 5, 6}

Q3. Remove an element from a set:

In [172]:
int_set.remove(3)
print(int_set)

{1, 2, 4, 5, 6}

Q4. Check if an element exists in a set.

In [173]:
my_set = {1, 2, 3, 4, 5}

element_to_check = 3
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

Q5. Find the length of a set without using the `len()` function.

In [174]:
def custom_len(s):
    count = 0
    for _ in s:
        count += 1
    return count

my_set = {1, 2, 3, 4, 5}
length = custom_len(my_set)
print(length)

5

Q6. Clear all elements from a set.

In [175]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

Q7. Create a set of even numbers from 1 to 10.

In [176]:
even_numbers = {x for x in range(1, 11) if x % 2 == 0}
print(even_numbers)

{2, 4, 6, 8, 10}

Q8. Create a set of odd numbers from 1 to 10:

In [177]:
odd_numbers = {x for x in range(1, 11) if x % 2 != 0}
print(odd_numbers)

{1, 3, 5, 7, 9}

Q9 Find the intersection of two sets

In [178]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1 & set2
print(intersection_set)

{3}

Q10 Find the difference between two sets

In [179]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1 - set2
print(difference_set)

{1, 2}

Q11 Check if a set is a subset of another set

In [180]:
set1 = {1, 2}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)
print(is_subset)

True

Q12 Check if a set is a superset of another set

In [181]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2}
is_superset = set1.issuperset(set2)
print(is_superset)

True

Q13 Create a set from a list:

In [182]:
my_list = [1, 2, 3, 4, 5]
new_set = set(my_list)
print(new_set)

{1, 2, 3, 4, 5}

Q14 Convert a set to a list:

In [183]:
my_set = {1, 2, 3, 4, 5}
new_list = list(my_set)
print(new_list)

[1, 2, 3, 4, 5]

Q15 Remove a random element from a set

In [184]:
import random

my_set = {1, 2, 3, 4, 5}
random_element = my_set.pop()
print(random_element) 
print(my_set)

1
{2, 3, 4, 5}

Q16 Pop an element from a set:

In [185]:
my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()
print(popped_element)  
print(my_set)

1
{2, 3, 4, 5}

Q17 Check if two sets have no elements in common:

In [186]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
no_common_elements = set1.isdisjoint(set2)
print(no_common_elements)

True

Q18 Find the symmetric difference between two sets:

In [187]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
symmetric_difference = set1 ^ set2
print(symmetric_difference)

{1, 2, 4, 5}

Q20 Update a set with elements from another set

In [188]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5}

Q21 Create a set of the first 5 prime numbers:

In [189]:
prime_numbers = {2, 3, 5, 7, 11}
print(prime_numbers)

{2, 3, 5, 7, 11}

Q23 Check if two sets are identical

In [190]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}
are_identical = set1 == set2
print(are_identical)

True

Q24 Create a frozen set

In [191]:
my_frozen_set = frozenset([1, 2, 3, 4, 5])
print(my_frozen_set)

frozenset({1, 2, 3, 4, 5})

Q25 Check if a set is disjoint with another set

In [192]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
are_disjoint = set1.isdisjoint(set2)
print(are_disjoint)

True

Q26 Create a set of squares of numbers from 1 to 5

In [193]:
squares_set = {x ** 2 for x in range(1, 6)}
print(squares_set)

{1, 4, 9, 16, 25}

Q27 Filter out all even numbers from a set

In [194]:
my_set = {1, 2, 3, 4, 5}
filtered_set = {x for x in my_set if x % 2 != 0}
print(filtered_set)

{1, 3, 5}

Q28 Multiply all elements in a set by 2

In [195]:
my_set = {1, 2, 3, 4, 5}
multiplied_set = {x * 2 for x in my_set}
print(multiplied_set)

{2, 4, 6, 8, 10}

Q29 Create a set of random numbers

In [196]:
import random

random_set = {random.randint(1, 10) for _ in range(5)}
print(random_set)

{8, 3, 4, 5}

Q30 Check if a set is empty:

In [197]:
empty_set = set()
is_empty = not bool(empty_set)
print(is_empty)

True

Q31 Create a nested set (hint: use frozenset)

In [198]:
nested_set = {frozenset({1, 2}), frozenset({3, 4})}
print(nested_set)

{frozenset({3, 4}), frozenset({1, 2})}

Q32 Compare two sets

In [199]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
is_equal = set1 == set2
print(is_equal)

False

Q33 Create a set from a string

In [200]:
my_string = "hello"
char_set = set(my_string)
print(char_set)

{'h', 'l', 'o', 'e'}

Q34 Convert a set of strings to a set of integers

In [201]:
string_set = {'1', '2', '3', '4', '5'}
int_set = {int(x) for x in string_set}
print(int_set)

{1, 2, 3, 4, 5}

Q35 Convert a set of integers to a set of strings

In [202]:
int_set = {1, 2, 3, 4, 5}
string_set = {str(x) for x in int_set}
print(string_set)

{'2', '4', '5', '1', '3'}

Q36 Create a set from a tuple

In [203]:
my_tuple = (1, 2, 3, 4, 5)
tuple_set = set(my_tuple)
print(tuple_set)

{1, 2, 3, 4, 5}

Q37 Convert a set to a tuple

In [204]:
my_set = {1, 2, 3, 4, 5}
set_tuple = tuple(my_set)
print(set_tuple)

(1, 2, 3, 4, 5)

Q38 Find the maximum value in a set:

In [205]:
my_set = {4, 9, 2, 7, 5}
max_value = max(my_set)
print(max_value)

9

Q39 Find the minimum value in a set

In [206]:
my_set = {4, 9, 2, 7, 5}
min_value = min(my_set)
print(min_value)

2

Q40 Create a set from user input:

In [ ]:
user_input = input("Enter elements separated by spaces: ")
user_set = set(user_input.split())
print(user_set)

Q41 Check if the intersection of two sets is empty

In [41]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
is_intersection_empty = len(set1 & set2) == 0
print(is_intersection_empty)

True

Q42 Create a set of the first 5 Fibonacci numbers

In [ ]:
fibonacci_set = {0, 1}
while len(fibonacci_set) < 5:
    new_fibonacci = sum(list(fibonacci_set)[-2:])
    fibonacci_set.add(new_fibonacci)
print(fibonacci_set)

Q43 Remove duplicates from a list using sets

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
print(unique_list)

Q44 Check if two sets have the same elements, regardless of their count

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 2, 1, 1, 2, 2, 3, 3}
same_elements = set1 == set2
print(same_elements)

Q45 Create a set of the first n powers of 2:

In [ ]:
n = 5
powers_of_2 = {2 ** i for i in range(n)}
print(powers_of_2)

Q46 Find the common elements between a set and a list

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]
common_elements = my_set.intersection(my_list)
print(common_elements)

In [ ]:
Q47 Create a set of the first n triangular numbers:

In [ ]:
def triangular_number(n):
    return n * (n + 1) // 2

n = 5
triangular_set = {triangular_number(i) for i in range(1, n + 1)}
print(triangular_set)

Q48 Check if a set contains another set as a subset.

In [ ]:
set1 = {1, 2, 3, 4, 5}
subset_to_check = {2, 3}
is_subset = subset_to_check.issubset(set1)
print(is_subset)

Q49 Create a set of alternating 1s and 0s of length `n`.

In [ ]:
n = 10
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}
print(alternating_set)

Q50 Merge multiple sets into one

In [1]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
print(merged_set)

{1, 2, 3, 4, 5, 6, 7}

Thanks to Physics Wallah community and sudhanshu sir for this practise questions.